body, h1, h2, h3, h4, p, button {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 200;
}

body {
  	margin: 0;
	padding: 20px;
	width: 100%;
}

h1 {
	letter-spacing: 5px;
	color: DodgerBlue;
	width: 100%;
}

h2 {
	font-size: 20px;
	width: 100%;
}

button {
	border-radius: 15px;
	border: none;
	position: right;
	padding: 10px 15px;
	background-color: DodgerBlue;
	color: Aquamarine;
	/*font-size: 1em;*/
	letter-spacing: 5px;
}

p {
	width: 100%;
	/*letter-spacing: 0.1em;*/
}

#question span {
	color: blue;
}

#answer span {
	color: blue;
} 

#new_question {

}

#show_answer {

}
